/* NAVBAR STYLE */

.header {
  display: flex;
  align-items: center;
  background-color: #d1b89c;
  padding: 20px;
}

.logo {
  width: 115px;
  margin-right: 20px;
}

.title {
  font-size: 60px;
  color: #000000;
  flex: 1;
  text-align: center;
}

.title span {
  color: #ffffff;
}

.hidden {
  opacity: 0;
}
.navbar {
  padding: 44px 146px;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style-type: none;
}

.menu li a {
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.menu li a:hover {
  color: #d1b89c;
}
