.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes fixes */
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.gallery img {
  object-fit: cover;

  width: 100%;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr; /* Deux colonnes sur tablettes/mobiles */
  }

  .gallery img:nth-child(3) {
    grid-column: span 2;
  }

  .gallery img:nth-child(6) {
    grid-column: span 2;
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
